/*
#username-calendar-info {
    position: absolute;
    top: 10px;
    right: 30px;
}

#calendar {
    padding-top: 100px;
}
*/

#event-view {
    padding: 20px;
    margin: 0 auto;
    width:300px;
    background-color: #fff;
    border:1px solid #000;
}

#event-view input {
    width: 100%;
}

#modal {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
